* {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(253, 252, 249) font-color black;
}

h1 {
    font-family: raleway, sans-serif;
    font-size: x-large;
    color: black;
}

h2 {
    color: black;
}

*:hover {
    color: rgb(174, 88, 45, 1);
}

.kutu {
    width: 200px;
    height: 100px;
    border: darkblue solid 2px;
    text-align: right;
}

.yazi {
    width: 350px;
    height: 100px;
    border: darkblue solid 2px;
    text-align: right;
}

p {
    text-align: justify;
    text-indent: 30px;
    line-height: normal;
}

.text {
    position: absolute;
    top: 150px;
    right: 600px;
    color: black;
}

.img {
    position: absolute;
    top: 100px;
    left: 100px;
}

.text-title {

    position: absolute;
    top: 500px;
    left: 680px;
}

.hayal {
    position: absolute;
    top: 100px;
    left: 600px;
}

.ben {
    position: absolute;
    top: 900px;
    right: 800px;
}

.sen {
    position: absolute;
    top: 500px;
    right: 275px;
}

.biz {
    position: absolute;
    left: 680px;
    top: 600px;
}



/*.c  {
    position:absolute;
    top: 1500px;
    left: 680px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
}

.a{position:static;
    left:780px;
    font-size: large;
    
}*/
b {
    float: left;
    border: 1px solid rgb(174, 88, 45, 1);
    padding: 10px;
    margin: 10px;
}

.c {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: left;
    border: 1px solid rgb(174, 88, 45, 1);
    ;
    padding: 10px;
    margin: 10px;
    position: absolute;
    top: 1500px;
    left: 680px;
    font-size: large;
}

.a {
    float: left;
    border: 1px solid rgb(174, 88, 45, 1);
    top: 25px;
    padding: 25px;
    margin: 25px;
    background-color: rgb(174, 88, 45, 1);
    left: 580px;
    font-size: large;
    color: black;
}

.a:hover {
    color: rgb(253, 252, 249)
}

.form {
    position: absolute;
    left: 100px;
    top: 1750px;
    font-size: xx-large;
    font-weight: bold;

}


input {

    padding: 8px 20px;

    border: 1px solid #eee;

    border-left: 3px solid;

    border-left-color: salmon;

    border-radius: 5px;

    transition: border-color .8s ease-out;
}

.input:focus {

    outline: none;

    border: 1px solid #eee;

    border-left: 3px solid #888;

}

.in {
    width: 72%;
    height: 45px;
    font-size: large;
    font-style: normal;
    font-weight: bold;
}

.harita {
    position: absolute;
    top: 2200px;
    left: 50px;
    right: 45px;
}

.son {
    text-align: center;
    position: absolute;
    top: 3500px;
    left: 680px ;
}

.video{
    position: absolute;
    top: 3000px;
    left: 620px ;
}
.müzik{
    text-align: center;
    position: absolute;
    top: 2750px;
    left: 400px;
}